@import url("fonts.css");
* {
	margin: 0;
	padding: 0;
}
body {
	background: url(../img/body.jpg);
	position: relative;
	font-family: "Arial";
}
.clearfix:after {
  display: block;
  content: "";
  clear: both; 
}
.top_line {
	background: url(../img/topline.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
}
.logo p {
  padding: 0 0 13px 10px;
  font-size: 12px;
  color: rgb(101, 111, 122);
  font-weight: bold;
}
.logo h1{
  padding: 15px 0 0 10px;
  font-size: 30px;
  color: rgb(165, 173, 184);
  font-weight: bold;
  line-height: 0.8;
  text-transform: uppercase;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
}
.search {
	position: absolute ;
	right: 8px;
	top: 17px;
	max-height: 30px;
}
.stext {
  background : linear-gradient(to top, #24272d, #1c1e23);
  border : 1px solid #875f66;
  border-radius: 6px;
  height: 28px;
  box-sizing: border-box;
  font-size: 14px;
  color: rgb(91, 99, 110);
  line-height: 1;
  text-indent: 9px;
}
.button {
  content: '';
  background: url(../img/searchbut.png);
  background-position: center;
  position: relative;
  top: 3px;
  border: 1px solid transparent;
  border-radius: 6px;
  padding: 5.5px 15px 5.5px 15px;
  background-repeat: no-repeat;
  background-color: #ae4b5d;
}
.main_wrap {
	max-width: 980px;
	width: 100%;
	position: relative;
	margin: 0 auto;
}
.slider {
	background: url(../img/slider.png);
	background-repeat: no-repeat;
	background-size: 100%;
	background-color: #282d33;
	min-height: 240px;
	height: 100%;
	width: 100%;
	background-position: center;
}
.text {
  position: relative;
  max-width: 480px;
  width: 90%;
  top: 40px;
  left: 40px;
  font-size: 14px;
  color: rgb(165, 173, 184);
  line-height: 1.286;
  text-align: left;
}
.text h2 {
  font-size: 30px;
  color: rgb(165, 173, 184);
  font-weight: bold;
  line-height: 0.741;
  text-align: left;
  padding: 0 0 10px 0;
}
 h1:first-letter,h2:first-letter {
  color: rgb(174, 75, 93);
}
.up {
  padding: 0 0 10px 0;
  font-size: 18px;
  color: rgb(40, 45, 51);
  font-weight: bold;
  line-height: 0.778;
  text-align: left;
}
.down {
  padding: 0 0 10px 0;
  font-size: 18px;
  color: rgb(165, 173, 184);
  font-weight: bold;
  line-height: 0.778;
  text-align: left;
}
.slider_img img {
	max-width: 1000px;
	display: block;
	width: 100%;
}
.menu {
	background-color: #95161f;

}
.menu ul {
	padding: 10px;
	max-width: 1000px;	
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	flex-wrap: wrap;
	list-style-type: none;
}
.menu ul li a {
  padding: 13px 26px 13px 26px;
  font-size: 16px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.2;
  text-decoration: none;
}
.bread {
  background-color: #f3f3f3;
   font-size: 11px;
   color: #6b6f74;
   text-align: left;
}
.bread p {
	padding: 6px 0 6px 2px; 
}
.bread ul {
	list-style-type: none;
	display: flex;
	margin-left: 25px;
}
.bread ul li a {
  font-size: 11px;
  color: rgb(149, 22, 31);
  text-decoration: underline;
  line-height: 2.182;
  text-align: left;
}
.contain {
  background-color: #FFF;
}
aside {
  position: absolute;
  left: 22px;
  max-width: 210px;
  width: 23%;
  height: 100%;
  flex-wrap: wrap;
}
article {
  max-width: 730px;
  width: 70%;
  position: relative;
  left: 262px;
  top: 0;
}
footer {
  background: url(../img/footer.jpg);
  background-position: top;
}
.contacts {
  padding: 40px 0 25px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.form {
  max-width: 210px;
  width: 100%;
  margin: 20px 0 0 0;
  background-color: #f3f3f3;
  border: 1px solid #d8dbde;
  border-radius: 3px;
}
h4 {
  font-size: 18px;
  color: rgb(40, 45, 51);
}
.form form {
  padding: 19px 0 33px 14px;
}
.form p {
  padding: 15px 0 0 0;
}
.form input, .form select {
  max-width: 180px;
  width: 100%;
  height: 30px;
  border: 1px solid #FFF;
  border-radius: 3px;
  font-size: 14px;
  color: rgb(117, 117, 117);
  line-height: 1.286;
  text-indent:  8px;
  background: linear-gradient(to top, #e3e4e5, #e3e4e5, #e3e4e5, #e3e4e5, #e3e4e5, #e3e4e5, #cfcfd0)
}
.form select {
  border: 1px solid #a2a2a2;
}
.form .but {
  font-size: 16px;
  color: rgb(241, 241, 241);
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.75);
  text-align: center;
  max-width: 165px;
  max-height: 35px;
  background: #a8202a;
  border : 5px solid #FFF;
  box-sizing: content-box;
  box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
  border-radius: 0;
}
.descr {
  font-size: 12px;
  color: rgb(92, 100, 110);
  line-height: 1.667;
}
.descr h4 {
  font-size: 18px;
  color: rgb(40, 45, 51);
  font-weight: bold;
  line-height: 1.5;
}
article h2 {
  color: #b9bfc7;
  font-size: 24px;
  font-weight: bold;
  padding: 0 0 10px 0;
}
.what {
  padding: 12px 0 0 0;
  font-size: 14px;
  color: rgb(92, 100, 110);
  line-height: 1.429;
  text-align: left;
}
.what a {
  color: #95161f;
}
.images {
  padding: 10px 0 13px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 620px;
  width: 100%;
}
.images h4 {
  padding: 0 0 10px 0;
}
.images img {
  max-width: 196px;
  width: 100%;
  border: 1px solid #FFF;
  box-shadow: 0 5px 8px rgba(0,0,0,0.35)
}

